<div class="cart-completo">
  <div class="titulo flex justify-content-between align-items-baseline">
    <h2>Tu Carrito</h2>
    <button class="btn-clear" (click)="cartService.clearCart()">
      Vaciar carrito
    </button>
  </div>

  <table class="cart-table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.product.nombre }}</td>
        <td>{{ item.product.precio | number : "1.2-2" }}€</td>
        <td>
          <!-- mantego que se borre si es 0 ,si te pasas de cantidad te pone la cantidad disponible-->
          <p-inputNumber
            [(ngModel)]="item.quantity"
            placeholder="Cantidad"
            class="input-quantity"
            (ngModelChange)="updateQuantity(item, $event)"
            [min]="0"
            [max]="item.product.cantidad"
          ></p-inputNumber>
        </td>
        <td>{{ item.product.precio * item.quantity | number : "1.2-2" }}€</td>
        <td>
          <button class="btn-remove" (click)="removeItem(item)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="totals">
    <p>Subtotal: {{ subtotal | number : "1.2-2" }}€</p>
    <p>Impuestos: {{ IVA | number : "1.2-2" }}€</p>
    <p>Total: {{ total | number : "1.2-2" }}€</p>
  </div>
  <button class="btn-checkout" routerLink="/checkout" [disabled]="activo">
    Proceder al Pago
  </button>
</div>
