<p-dialog
  header="Cambiar Estado del Pedido"
  [(visible)]="isDialogVisible"
  [modal]="true"
  class="dialog-custom"
  [closable]="false"
>
  <div *ngIf="pedidosSeleccionados.length === 1">
    <p></p>
  </div>
  <div *ngIf="pedidosSeleccionados.length > 1">
    <p>{{ pedidosSeleccionados.length }} pedidos seleccionados</p>
  </div>

  <div class="mb-4">
    <label class="label-custom">Nuevo Estado:</label>
    <p-dropdown
      *ngIf="authService.hasAuthority(userAuthority.ADMIN)"
      [(ngModel)]="nuevoEstado"
      [options]="estadoOptions"
      placeholder="Seleccione el nuevo estado"
      class="w-full"
      [showClear]="true"
    ></p-dropdown>
    <div *ngIf="!authService.hasAuthority(userAuthority.ADMIN)"></div>
  </div>

  <div class="actions-container">
    <p-button
      label="Guardar"
      (click)="guardarCambios()"
      [disabled]="!nuevoEstado"
    ></p-button>
    <p-button
      label="Cancelar"
      (click)="cancelar()"
      class="p-button-secondary"
    ></p-button>
  </div>
</p-dialog>
