/* Ajustes generales del contenedor */
#buscar-component {
  max-width: 400px; /* Limita el ancho */
  margin: 0 auto; /* Centra el input */
  position: relative; /* Necesario para las sugerencias */
  padding: 0;
  min-width: 250px;
}

/* Ajustes específicos del input */
#buscar-box {
  width: 100%; /* Ancho completo */
  padding: 0.6rem 1rem; /* Ajusta padding */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px; /* Bordes redondeados */
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Ajuste de la lista de resultados */
ul.buscar-result {
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 5px); /* Debajo del input */
  left: 0;
  width: 100%;
  background-color: #fff;

  border-radius: 4px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.buscar-result li {
  list-style: none;
}

.buscar-result li a {
  display: block;
  padding: 0.6rem 1rem;

  text-decoration: none;
  transition: background-color 0.2s ease;
}
