<!-- <div class="table-container">
  <p-table [value]="descuento" class="container">
    <ng-template pTemplate="header">
      <tr>
        <th>Oferta</th>
      </tr>
      <form [formGroup]="formGroup">
        <p-selectButton
          [options]="stateOptions"
          formControlName="value"
          optionLabel="label"
          optionValue="value"
        />
      </form>
    </ng-template>
    @if(oferta){
    <ng-template pTemplate="body" let-descuento>
      <tr (click)="selectOferta(descuento)">
        <td>{{ descuento }}</td>
      </tr> </ng-template
    >
  
  
    <div class="form-group-descuento">
      <label for="descuento">Producto descuento: </label>
      <p-inputNumber
        inputId="descuento"
        [(ngModel)]="algoModel.algo.descuento"
        placeholder="Precio"
      ></p-inputNumber>
    </div>
  
  }
  </p-table>
</div> -->
<div class="table-container">
  <p-table [value]="descuentos" class="container">
    <ng-template pTemplate="header">
      <tr>
        <th>Oferta</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.nombre }}</td>
        <td>
          <!-- Botón para activar/desactivar oferta -->
          <p-selectButton
            [options]="stateOptions"
            [(ngModel)]="oferta"
            (onChange)="onOfertaChange()"
            optionLabel="label"
            optionValue="value"
          ></p-selectButton>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Formulario de edición del descuento -->
  <div *ngIf="oferta" class="form-group-descuento">
    <label for="descuento">Descuento (%)</label>
    <p-inputNumber
      inputId="descuento"
      [(ngModel)]="descuentos[0].descuento"
      [min]="0"
      [max]="100"
      placeholder="Cantidad de descuento"
      (onInput)="updateDescuento()"
    ></p-inputNumber>
  </div>
</div>
