<div class="container">
    <!-- Contenido principal aquí -->
    
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h5 class="footer-title">Tamscrapt</h5>
                <p class="footer-description">Tu tienda de creatividad y artesanía.</p>
            </div>
            <div class="footer-section">
                <h5 class="footer-title">Enlaces Rápidos</h5>
                <ul class="footer-links">
                    <li>
                        <a class="footer-link" routerLink="/productos">Productos</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/oferta">Ofertas</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/lettering">Lettering</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/scrapbooking">Scrapbooking</a>
                    </li>
                </ul>
            </div>
        </div>
         
    </footer>
</div>
