/* styles.css */

/* Estilo del Body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo del formulario */
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 500px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Título del formulario */
.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

/* Grupo de formulario */
.form-group {
  margin-bottom: 20px;
}

/* Estilo de las etiquetas */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

/* Inputs y Selects */
input[type="text"],
input[type="number"],
p-inputNumber,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

p-inputNumber {
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
/* Texto de error */
.text-danger {
  font-size: 14px;
  margin-top: 5px;
}

/* Botones */
.buttons {
  text-align: center;
  margin-top: 25px;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button {
  margin-top: 10px;
}
