body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 500px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 10px;
}

.text-danger {
  font-size: 14px;
  margin-top: 5px;
}

.buttons {
  text-align: center;
  margin-top: 25px;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button {
  margin-top: 10px;
}
