<body>
  <div class="containerForm mt-4">
    <h1 class="title">Formulario de Users</h1>
    <!-- Imagen URL -->
    <div class="form-group">
      <label for="imagen">Imagen URL: </label>
      <input
        type="text"
        class="form-control"
        id="imagen"
        name="imagen"
        [(ngModel)]="imagen"
      />
    </div>
    <!-- Nombre del User -->
    <div class="form-group">
      <label for="nombre">Nombre del User: </label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        required
        [(ngModel)]="nombre"
      />
      <div *ngIf="!nombre?.trim()" class="text-danger">
        El nombre del user es obligatorio.
      </div>
    </div>

    <!-- Username del User -->
    <div class="form-group">
      <label for="username">Username del User: </label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        [(ngModel)]="username"
      />
      <div *ngIf="!username?.trim()" class="text-danger">
        El username del user es obligatorio.
      </div>
    </div>

    <!-- Password del User -->
    <div class="form-group">
      <label for="password">Password del User: </label>
      <input
        type="text"
        class="form-control"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
      />
      <div *ngIf="!password?.trim()" class="text-danger">
        El password del user es obligatorio.
      </div>
    </div>
    <!-- Email del User -->
    <div class="form-group">
      <label for="email">Email del User: </label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        required
        [(ngModel)]="email"
      />
      <div *ngIf="!email?.trim()" class="text-danger">
        El email del user es obligatorio.
      </div>
    </div>
    <!-- Authority del User -->
    <div class="form-group-authority">
      <label for="authority">User authorities</label>
      <select
        class="form-control"
        id="authority"
        required
        name="authority"
        [(ngModel)]="selectedAuthority"
      >
        <option *ngFor="let authority of authorities" [value]="authority">
          {{ authority }}
        </option>
      </select>
    </div>

    <!-- Botones -->
    <div class="flex justify-content-around gap-3 mt-4 flex-wrap">
      <button type="button" class="btn btn-primary" (click)="goBack()">
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="add(nombre, username, password, email, imagen, authorities)"
      >
        Enviar
      </button>
    </div>
    <p>
      ¿Ya tienes una cuenta?
      <a routerLink="/login">Inicia sesión aquí</a>
    </p>
  </div>
</body>
