<ng-container
  *ngIf="
    authService.hasAuthority(userAuthority.ADMIN) && params.length > 1;
    else noStepper
  "
>
  <p-stepper [linear]="true" class="pedido-container">
    <ng-container *ngFor="let param of params; let i = index">
      <p-stepperPanel [header]="'Edición ' + (i + 1)">
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-prevCallback="prevCallback"
        >
          <ng-container
            *ngTemplateOutlet="
              commonDetail;
              context: {
                $implicit: param,
                i: i,
                nextCB: nextCallback,
                prevCB: prevCallback
              }
            "
          >
          </ng-container>
        </ng-template>
      </p-stepperPanel>
    </ng-container>
  </p-stepper>
</ng-container>

<!-- Si no es admin, muestra el contenido sin el stepper -->
<ng-template #noStepper>
  <div class="pedido-container pedido-no-stepper-container">
    <div *ngFor="let param of params; let i = index">
      <ng-container
        *ngTemplateOutlet="commonDetail; context: { $implicit: param, i: i }"
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template
  #commonDetail
  let-param
  let-i="i"
  let-nextCB="nextCB"
  let-prevCB="prevCB"
>
  <div *ngIf="param" class="grid">
    <!-- Contenedor principal en una sola columna para pantallas pequeñas,
         se ajusta en pantallas más grandes -->
    <div class="col-12">
      <!-- Título del pedido -->
      <h1 class="pedido-titulo">
        {{ param.nombreComprador }}
      </h1>

      <!-- Nombre del Comprador visible para todos -->
      <div class="pedido-form-field">
        <label for="pedido-nombre-comprador-{{ i }}" class="pedido-form-label">
          Nombre Comprador:
        </label>
        <input
          id="pedido-nombre-comprador-{{ i }}"
          [(ngModel)]="param.nombreComprador"
          placeholder="Nombre Comprador"
          pInputText
          [readonly]="!authService.hasAuthority(userAuthority.ADMIN)"
        />
      </div>

      <!-- Dirección de Envío visible para todos -->
      <div class="pedido-form-field">
        <label for="pedido-direccion-envio-{{ i }}" class="pedido-form-label">
          Dirección de Envío:
        </label>
        <input
          id="pedido-direccion-envio-{{ i }}"
          [(ngModel)]="param.direccionEnvio"
          placeholder="Dirección de Envío"
          pInputText
          [readonly]="!authService.hasAuthority(userAuthority.ADMIN)"
        />
      </div>

      <!-- Bloque de inputs, sólo visible para ADMIN -->
      <div
        class="pedido-form-field"
        *ngIf="authService.hasAuthority(userAuthority.ADMIN)"
      >
        <label for="pedido-metodo-pago-{{ i }}" class="pedido-form-label">
          Método de Pago:
        </label>
        <input
          id="pedido-metodo-pago-{{ i }}"
          [(ngModel)]="param.metodoPago"
          placeholder="Método de Pago"
          pInputText
        />
      </div>

      <div
        class="pedido-form-field"
        *ngIf="authService.hasAuthority(userAuthority.ADMIN)"
      >
        <label for="pedido-estado-{{ i }}" class="pedido-form-label">
          Estado:
        </label>
        <input
          id="pedido-estado-{{ i }}"
          [(ngModel)]="param.estado"
          placeholder="Estado"
          pInputText
        />
      </div>

      <div
        class="pedido-form-field"
        *ngIf="authService.hasAuthority(userAuthority.ADMIN)"
      >
        <label for="pedido-cliente-{{ i }}" class="pedido-form-label">
          Cliente (username):
        </label>
        <input
          id="pedido-cliente-{{ i }}"
          [(ngModel)]="param.cliente.username"
          placeholder="Cliente"
          pInputText
        />
      </div>

      <!-- Productos para ADMIN -->
      <div
        class="pedido-form-field"
        *ngIf="authService.hasAuthority(userAuthority.ADMIN)"
      >
        <label class="pedido-form-label">Productos:</label>
        <div class="pedido-lista-productos" *ngFor="let p of param.productos">
          <ng-container *ngIf="productosMap.get(p.productoId) as prod">
            <h1>Nombre: {{ prod.nombre }}</h1>
            <p>Cantidad: {{ p.cantidad }}</p>
          </ng-container>
          <span *ngIf="!productosMap.get(p.productoId)">
            Producto no disponible.
          </span>
        </div>
      </div>

      <!-- Productos para NO-ADMIN -->
      <div *ngIf="!authService.hasAuthority(userAuthority.ADMIN)">
        <h3 class="pedido-subtitulo">Productos:</h3>
        <ul class="pedido-lista-productos">
          <li *ngFor="let p of param.productos">
            <ng-container *ngIf="productosMap.get(p.productoId) as prod">
              {{ prod.nombre }} - Cantidad: {{ p.cantidad }}
            </ng-container>
            <span *ngIf="!productosMap.get(p.productoId)">
              Producto no disponible.
            </span>
          </li>
        </ul>
      </div>

      <!-- Botón de regresar para usuario NO-ADMIN -->
      <button
        *ngIf="!authService.hasAuthority(userAuthority.ADMIN)"
        type="button"
        pButton
        class="p-button-secondary"
        (click)="goBack()"
      >
        Go Back
      </button>
    </div>

    <!-- Botones del stepper, sólo si es ADMIN y existe stepper -->
    <div
      class="pedido-botones-stepper col-12"
      *ngIf="authService.hasAuthority(userAuthority.ADMIN)"
    >
      <button
        *ngIf="i > 0"
        type="button"
        pButton
        class="p-button-secondary"
        (click)="nextCB ? prevCB.emit() : null"
      >
        Back
      </button>
      <button
        *ngIf="i < params.length - 1"
        type="button"
        pButton
        class="p-button-primary"
        (click)="nextCB ? nextCB.emit() : null"
      >
        Next
      </button>
      <button
        *ngIf="i === params.length - 1"
        type="button"
        pButton
        class="p-button-success"
        (click)="save()"
      >
        Save
      </button>
    </div>
  </div>
</ng-template>
