<!-- clientes.component.html -->
<div class="clientes">
  <h2>Gestión de Clientes</h2>

  <!-- <div class="busqueda">
    <input
      type="text"
      [(ngModel)]="filtroCliente"
      placeholder="Buscar clientes"
    />
  </div> -->

  <table>
    <thead>
      <tr>
        <!-- <th>#</th> -->
        <th>Nombre</th>
        <th>Email</th> 
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clienteModel.clientes">
        <!-- <td>
          <a routerLink="/admin/verCliente/{{ cliente.id }}">
            <span class="badge">{{ cliente.id }}</span>
          </a>
        </td> -->
        <td>{{ cliente.username }}</td>
        <td>{{ cliente.email }}</td> <td>
          <button type="button" class="delete" title="Eliminar cliente" (click)="delete(cliente)">
            x
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
