.pi.pi-heart,
.pi.pi-heart-fill {
  font-size: 40px;
  padding-right: 190px;
}
img {
  object-fit: contain;
  border-radius: 12px;
}
.discounted-price {
  font-size: 20px;
  color: #888;
  text-decoration: line-through;
  margin-top: 4px;
}
