/* Navbar Personalizada */
.custom-navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;
}

/* Estilos de la marca */
.brand {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
  display: inline-block;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: 0;
}

.brand:hover {
  transform: scale(1.05);
}

/* Estilos de enlaces de navegación */
.nav-link {
  font-size: 1.1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

/* Estilos de la lista de navegación */
.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Estilos de los elementos de navegación */
.nav-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 1rem;
}

.nav-item svg {
  margin-left: 30px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  transition: filter 0.3s ease;
}

/* Estilos del menú desplegable */
.dropdown-menu {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px;
  z-index: 1000;
}

/* Estilos de los elementos del menú desplegable */
.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease;
}

/* Estilos adicionales para opciones de administrador */
.admin-options .nav-link {
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.admin-options .dropdown-menu {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  margin-top: 10px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
}

.admin-options .dropdown-menu.show {
  display: block;
}

.admin-options .dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.admin-options .pi-cog {
  font-size: 1.2rem;
}

/* Estilos de la sección superior */
.superior {
  padding-top: 0;
  min-height: 40px;
}
