/* Navbar Personalizada */
.custom-navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;
}

/* Estilos de la marca */
.brand {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
  display: inline-block;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: 0;
}

.brand:hover {
  transform: scale(1.05);
}

/* Estilos de enlaces de navegación */
.nav-link {
  font-size: 1.1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

/* Estilos de la lista de navegación */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem; /* Usar gap en lugar de margin */
}

/* Estilos de los elementos de navegación */
.nav-item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem; /* Usar gap en lugar de margin */
}

.nav-item svg {
  cursor: pointer;
  width: 36px;
  height: 36px;
  transition: filter 0.3s ease;
}

/* Estilos del menú desplegable */
.dropdown-menu {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px;
  z-index: 1000;
}

/* Estilos de los elementos del menú desplegable */
.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease;
}

/* Estilos adicionales para opciones de administrador */
.admin-options .nav-link {
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.admin-options .dropdown-menu {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  margin-top: 10px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
}

.admin-options .dropdown-menu.show {
  display: block;
}

.admin-options .dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.admin-options .pi-cog {
  font-size: 1.2rem;
}

/* Estilos de la sección superior */
.superior {
  padding-top: 0;
  min-height: 40px;
}
.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-image-container {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.no-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #888;
  background-color: #ddd;
  border-radius: 50%;
}

.navbar-nav .dropdown-menu {
  min-width: 12rem;
}

.dropdown-item i {
  margin-right: 0.5rem;
}

.navbar-nav .nav-link .pi {
  font-size: 1rem;
}
.pi-user {
  margin-right: 10px;
}
.dropdown-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 2rem;
  gap: 1rem;
}
