<nav class="navbar custom-navbar shadow-sm">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav-list ms-auto">
        <a class="brand" routerLink="/"> Tamscrapt </a>

        <li class="nav-item">
          <a class="nav-link" routerLink="/productos"> Productos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ofertas"> Ofertas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lettering"> Lettering </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/scrapbooking"> Scrapbooking </a>
        </li>

        <!-- Opciones solo para administrador -->
        <li *ngIf="userModel.admin" class="nav-item admin-options">
          <a class="nav-link" role="button" (click)="toggleMenu()">
            <i class="pi pi-cog"></i> Admin
          </a>
          <ul
            *ngIf="dropdownMenu"
            class="dropdown-menu show"
            [ngClass]="{ show: dropdownMenu }"
          >
            <li>
              <a class="dropdown-item" routerLink="/tabla/users">
                <i class="pi pi-users"></i> Gestionar Users
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pedidos">
                <i class="pi pi-shopping-cart"></i> Gestionar Pedidos
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/productos">
                <i class="pi pi-tags"></i> Gestionar Productos
              </a>
            </li>
          </ul>
        </li>

        <!-- Menú de usuario -->
        @if(!userModel.admin){
        <li class="nav-item admin-options">
          <a class="nav-link" role="button" (click)="toggleUserMenu()">
            <i class="pi pi-user"></i> Usuario
          </a>
          <ul
            *ngIf="menuOpen"
            class="dropdown-menu show"
            [ngClass]="{ show: menuOpen }"
          >
            <li>
              <a class="dropdown-item" routerLink="/login">
                <i class="pi pi-sign-in"></i> Login
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/register">
                <i class="pi pi-user-plus"></i> Sign Up
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/profile">
                <i class="pi pi-user"></i> Profile
              </a>
            </li>
          </ul>
        </li>
        }
        <li class="nav-item">
          <app-switch class="switch"></app-switch>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/carrito">
            <i class="pi pi-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
