:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la ventana */
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Hace que el contenido ocupe el espacio disponible */
}

.content {
  flex: 1;
  /* overflow-y: auto;  */
}

.site-footer {
  background-color: #8ec4c0;
  color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}
