<p-stepper>
  <!-- Paso 1: Información de Envío -->
  <p-stepperPanel header="Paso 1: Información de Envío">
    <ng-template
      pTemplate="content"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column min-h-12rem">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium content-checkout"
        >
          <form #shippingForm="ngForm">
            <label
              >Nombre:
              <input
                type="text"
                [(ngModel)]="shippingInfo.name"
                name="name"
                required
              />
            </label>
            <label
              >Dirección:
              <input
                type="text"
                [(ngModel)]="shippingInfo.address"
                name="address"
                required
              />
            </label>
          </form>
        </div>
      </div>

      <div class="flex pt-4 justify-content-end">
        <p-button
          label="Next"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="nextCallback.emit()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
  <!-- Paso 2: Método de Pago -->
  <p-stepperPanel header="Paso 2: Método de Pago">
    <ng-template
      pTemplate="content"
      let-prevCallback="prevCallback"
      let-nextCallback="nextCallback"
    >
      <div class="flex flex-column min-h-12rem">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium content-checkout"
        >
          <form #paymentForm="ngForm" novalidate>
            <label>
              <input
                type="radio"
                [(ngModel)]="paymentMethod"
                name="paymentMethod"
                value="creditCard"
                required
              />
              Tarjeta de Crédito
            </label>
            <label>
              <input
                type="radio"
                [(ngModel)]="paymentMethod"
                name="paymentMethod"
                value="paypal"
              />
              PayPal
            </label>
          </form>
        </div>
      </div>
      <div class="flex pt-4 justify-content-between">
        <p-button
          label="Back"
          icon="pi pi-arrow-left"
          (click)="prevCallback.emit()"
        ></p-button>
        <p-button
          label="Next"
          icon="pi pi-arrow-right"
          iconPos="right"
          [disabled]="!paymentForm.valid"
          (click)="nextCallback.emit()"
        ></p-button>
      </div>
    </ng-template>
  </p-stepperPanel>

  <!-- Paso 3: Revisión del Pedido -->
  <p-stepperPanel header="Paso 3: Revisión del Pedido">
    <ng-template pTemplate="content" let-prevCallback="prevCallback">
      <div class="flex flex-column p-4">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium p-3 content-checkout"
        >
          <div class="flex justify-content-center w-full">
            <!-- Información de Envío -->
            <div class="mr-7">
              <h4>Información de Envío</h4>
              <p>{{ shippingInfo?.name }}</p>
              <p>{{ shippingInfo?.address }}</p>
            </div>
            <!-- Método de Pago y Resumen -->
            <div class="ml-7">
              <h4>Método de Pago</h4>
              <p>{{ paymentMethod }}</p>
              <h4>Total</h4>
              <p>Subtotal: {{ orderSummary?.subtotal | currency }}</p>
              <p>Impuestos: {{ orderSummary?.tax | currency }}</p>
              <p>Total: {{ orderSummary?.total | currency }}</p>
            </div>
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button
            label="Back"
            icon="pi pi-arrow-left"
            (click)="prevCallback.emit()"
          ></p-button>
          <button class="p-button p-component" (click)="confirmOrder()">
            Confirmar Pedido
          </button>
        </div>
      </div>
    </ng-template>
  </p-stepperPanel>
</p-stepper>
