<body>
  <div class="containerForm mt-4">
    <h1 class="title">Registro</h1>

    <div class="form-group">
      <label for="nombre">Nombre: </label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        required
        [(ngModel)]="nombre"
      />
      <div *ngIf="!nombre?.trim()" class="text-danger">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="username">Username: </label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        [(ngModel)]="username"
      />
      <div *ngIf="!username?.trim()" class="text-danger">
        El username es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
        minlength="8"
        #passwordInput="ngModel"
        class="form-control"
      />
      <div
        *ngIf="passwordInput.invalid && passwordInput.touched"
        class="text-danger"
      >
        La contraseña debe tener al menos 8 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        [(ngModel)]="email"
        #emailInput="ngModel"
      />
      <div
        *ngIf="emailInput.errors?.['required'] && emailInput.touched"
        class="text-danger"
      >
        El email es obligatorio.
      </div>
      <div
        *ngIf="emailInput.errors?.['pattern'] && emailInput.touched"
        class="text-danger"
      >
        El formato del email no es válido.
      </div>
    </div>

    <div
      *ngIf="authService.hasAuthority(userAuthority.ADMIN)"
      class="form-group-authority"
    >
      <label for="authority">User authorities</label>
      <select
        class="form-control"
        id="authority"
        required
        name="authority"
        [(ngModel)]="selectedAuthority"
      >
        <option *ngFor="let authority of authorities" [value]="authority">
          {{ authority }}
        </option>
      </select>
    </div>

    <div class="flex justify-content-around gap-3 mt-4 flex-wrap">
      <button type="button" class="btn btn-primary" (click)="goBack()">
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="add(nombre, username, password, email, imagen, authorities)"
      >
        Enviar
      </button>
    </div>
    <p>
      ¿Ya tienes una cuenta?
      <a routerLink="/login">Inicia sesión aquí</a>
    </p>
  </div>
</body>
