.container2 {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.container2:hover {
  transform: scale(1.05);
}

.container2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(219, 252, 251, 0.7); */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.container2:hover::after {
  opacity: 1;
}

.product-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  width: 100%;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.original-price {
  text-decoration: line-through;
  color: red;
}

.discounted-price {
  font-weight: bold;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.no-products {
  grid-column: span 3;
  text-align: center;
  color: red;
}

.container2 {
  margin: auto;
}
