<div *ngIf="algoModel.algo">
  <div class="container">
    <h2>{{ algoModel.algo.nombre | uppercase }}</h2>

    <div>
      <span><strong>id:</strong></span>
      {{ algoModel.algo.id }}
    </div>

    <div>
      <img
        [src]="algoModel.algo.imagen"
        alt="Imagen del producto"
        class="product-image"
      />
    </div>

    <div>
      <div *ngIf="algoModel.algo.oferta; else noOferta">
        <div class="price-container">
          <span class="original-price">
            {{
              calcularPrecioOriginal(
                algoModel.algo.precio,
                algoModel.algo.descuento
              )
            }}
            €
          </span>
          <strong class="discounted-price">
            {{ algoModel.algo.precio.toFixed(2) }} €
          </strong>
        </div>
      </div>
      <ng-template #noOferta>
        <strong>{{ algoModel.algo.precio.toFixed(2) }} €</strong>
      </ng-template>
    </div>

    <button type="button" (click)="goBack()">Go back</button>
  </div>
</div>
