<!-- <div *ngIf="algoModel.algo">
  <div class="container">
    <h2>{{ AlgoModel.algo.nombre | uppercase }}</h2>

    <div>
      <span><strong>id:</strong></span>
      {{ AlgoModel.algo.id }}
    </div>

    <div>
      <img
        [src]="algoModel.algo.imagen"
        alt="Imagen del producto"
        class="product-image"
      />
    </div>

    <div>
      <div *ngIf="algoModel.algo.oferta; else noOferta">
        <div class="price-container">
          <span class="original-price">
            {{
              calcularPrecioOriginal(
                AlgoModel.algo.precio,
                AlgoModel.algo.descuento
              )
            }}
            €
          </span>
          <strong class="discounted-price">
            {{ AlgoModel.algo.precio.toFixed(2) }} €
          </strong>
        </div>
      </div>
      <ng-template #noOferta>
        <strong>{{ AlgoModel.algo.precio.toFixed(2) }} €</strong>
      </ng-template>
    </div>

    <div>
      <label for="producto-nombre">Producto nombre: </label>
      <input
        id="producto-nombre"
        [(ngModel)]="algoModel.algo.nombre"
        placeholder="Producto nombre"
      />
    </div>

    <button type="button" (click)="goBack()">Go back</button>

    
    <button type="button" (click)="save()">Save</button>
  </div>
</div> -->
