/* styles.scss */
.container {
  display: flex;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.main-content {
  padding: 20px;
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
