@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  // cursor: pointer;
  user-select: none;
  font-weight: bold !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover {
  color: inherit;
  background-color: transparent;
}
/* Aumentando la especificidad para asegurar que se apliquen los estilos */
html body {
  font-size: 14px !important;
}

/* Aplicando los estilos de fondo y color al body */
body {
  font-family: var(--font-family) !important;
  background: var(--surface-ground) !important;
  color: var(--text-color) !important;
  // padding: 1rem !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/* Estilos para la clase .card */
.card {
  background: var(--surface-card) !important;
  padding: 2rem !important;
  border-radius: 10px !important;
  margin-bottom: 1rem !important;
}
/* Paginador moderno */
.p-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding: 20px;
  font-weight: bold;
}

/* Botones de navegación */
.p-paginator-prev,
.p-paginator-next {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.p-paginator-prev:hover,
.p-paginator-next:hover {
  text-decoration: underline;
}

/* Contenedor de números */
.p-paginator-pages {
  display: flex;
  align-items: center;
}

/* Estilo de los números de página */
.p-paginator-page {
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.p-paginator-page:hover {
  text-decoration: underline;
}

/* Página activa */
.p-highlight {
  font-weight: bold;
  font-size: 20px;
}

/* Botones deshabilitados */
.p-paginator-prev.p-disabled,
.p-paginator-next.p-disabled {
  cursor: not-allowed;
  font-size: 20px;
}
.p-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 5px;
  // transition: all 0.3s ease; /* Transiciones suaves */
  // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.p-button .pi {
  font-size: 18px;
}
.p-button .pi-shopping-cart {
  font-size: 18px;
  margin-right: 8px;
}

.p-menuitem {
  font-size: 20px;
  width: 200px;
  height: 50px;
}
span {
  font-size: 22px;
}

.no-image {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  color: #888;
  font-style: italic;
  border: 2px dashed #ccc;
  border-radius: 12px;
}
