@import "primeng/resources/themes/lara-light-blue/theme.css";

.p-contextmenu {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  overflow: hidden;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  z-index: 1050;
}

.p-contextmenu .p-menuitem {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.p-menuitem:hover {
  background-color: #f0f4f8;
  color: #1d3557;
}

.p-contextmenu .p-menuitem-icon {
  margin-right: 10px;
  color: #888;
  font-size: 18px;
}

.p-contextmenu .p-submenu-list {
  background-color: #ffffff;
  border-left: 3px solid #457b9d;
  padding: 5px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.p-contextmenu .p-submenu-list .p-menuitem {
  padding: 8px 16px;
}
 
.custom-navbar {
  background-color: #ffffff;
}

.p-button {
  color: black !important;
  min-width: 150px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 10px 20px !important;
  border: 2px solid transparent !important;
  border-radius: 8px !important;
  margin: 5px !important;
  transition: background-color 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #a8dadc;
}

.p-button:hover {
  background-color: #77c1c4;
}

.p-button .pi {
  font-size: 18px !important;
}

.p-button .pi-shopping-cart {
  font-size: 18px !important;
  margin-right: 8px !important;
}
 
.brand {
  color: #9fcfd1;
  transition: transform 0.2s ease, color 0.2s ease;
}

.brand:hover {
  color: #005f73;
  transform: scale(1.05);
}
 
.nav-link {
  color: #9fcfd1;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #005f73;
}
 
.dropdown-menu {
  background-color: #ffffff;
}

.dropdown-item {
  color: #005f73;
}

.dropdown-item:hover {
  background-color: #e0f7f7;
}
 
.admin-options .nav-link {
  color: #005f73;
}

.admin-options .dropdown-menu {
  background-color: #ffffff;
}

.admin-options .dropdown-item {
  color: #005f73;
}

.admin-options .dropdown-item:hover {
  background-color: #e0f7f7;
}
 
.superior {
  background-color: #a8dadc;
}
 
.pi.pi-star-fill,
.pi.pi-sun {
  color: #a8dadc;
}

.pi.pi-heart,
.pi-heart-fill,
.pi-cart-plus {
  font-weight: bold;
  color: #005f73;
}
 
.title {
  background-color: #a8dadc;
  color: #ffffff;
}
 
body {
  background: linear-gradient(to bottom, #f0f4f8, #d9e6f2);
  background-color: #f1faee; /* Fallback */
}
 
.containerForm {
  background-color: #a8dadc;
}

input[type="text"],
input[type="number"],input[type="password"],
input[type="email"], 
select,
p-inputNumber {
  border: 1px solid #457b9d;
  background-color: #f9fcff;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
p-inputNumber:focus {
  box-shadow: 0 0 10px rgba(69, 123, 157, 0.5);
}
 
.btn {
  background-color: #68a3a5;
  color: #ffffff;
}

.btn:hover {
  background-color: #627a7a;
}
 
.grid,
.card,
.p-paginator {
  background-color: white;
}

.p-dataview .p-dataview-header {
  border: none !important;
  background-color: white;
}

.card .fondo-card {
  background-color: white;
}
 
.cart-completo {
  background-color: #ffffff;
}

.cart h2 {
  color: #333;
}

.totals {
  color: #333;
}

.btn-remove,
.btn-checkout,
.btn-clear {
  background-color: #a8dadc;
}

.btn-remove:hover,
.btn-checkout:hover,
.btn-clear:hover {
  background-color: #77c1c4;
}
 
#search-component {
  background-color: white;
}

#search-box {
  background-color: #a8dadc;
}

.lista-search {
  background-color: white;
}

.search-result li a:hover {
  background-color: #f8f9fa;
  color: #a8dadc;
}

#search-box:hover,
#search-box:focus {
  border-color: #72d8db;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}
 
.site-footer {
  background-color: #8ec4c0;
  color: #f8f9fa;
}
.producto-section {
  background-color: #f8f9fa;
}
.home-container {
  background-color: #ffffff;
}
.producto-content h1 {
  color: #005f73;
}
.producto-content p {
  color: #005f73;
}
h2 {
  color: #005f73;
}
.card-title {
  color: #005f73;
}
.card-text {
  color: #6c757d;
}
.btn-custom {
  background-color: #9fcfd1;
  color: #ffffff;
}
.btn-custom:hover {
  background-color: #005f73;
}
.btn-warning {
  background-color: #9fcfd1;
  color: #ffffff;
}
.btn-warning:hover {
  background-color: #005f73;
}
.blockquote-footer {
  color: #6c757d;
}
.seccion-oferta p {
  color: #6c757d;
}
.testimonios-users blockquote {
  background-color: #f8f9fa;
}
.title {
  color: #ffffff;
}
.hover-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.surface-card {
  background-color: #ffffff;
}
.custom-paginator .p-paginator {
  background-color: #ffffff;
}
.custom-paginator .p-paginator .p-paginator-page.p-highlight {
  background-color: #457b9d;
  color: #ffffff;
}
.custom-paginator .p-paginator .p-paginator-page:hover {
  background-color: #a8dadc;
}
.nombre {
  color: #333;
}
.cantidad {
  color: #333;
}
.precio {
  color: #333;
}
.precioOriginal {
  color: #888;
}
.login-container { background-color: #fff; }
.login-container .text-danger { color: red; }





.nombre,
.cantidad,
.precio,
.title,
.pi-moon,
  
h2,
h3,
h4,
h5,
h6 {
  color: #88c0d0 !important;
}
h1 {
  color: #fff !important;
}




 
.descripcion { background-color: #f4f4f4; }
.btn-cantidad { background-color: #fff; }
.cantidad-input { background-color: transparent; }
.pedido-container {
  color: #333;
  background-color: #ffffff;}