<!-- <app-producto-search class="search"></app-producto-search> -->
<div class="title">
  <h1>{{ title }}</h1>
</div>
<div class="card">
  <p-dataView
    #dv
    [value]="paramsTemporal"
    [layout]="layout"
    [paginator]="true"
    [rows]="9"
    [rowsPerPageOptions]="[9, 20]"
    styleClass="custom-paginator "
  >
    <ng-template pTemplate="header">
      <!-- <div class="flex align-items-center justify-content-between mb-3"> -->
      <div class="flex align-items-center justify-content-end mb-3">
        @if(authService.hasAuthority(userAuthority.ADMIN)){
        <p-button (click)="getCreate()" label="+ Create"></p-button>
        }
        <p-dataViewLayoutOptions [layout]="layout"></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template pTemplate="list" let-items>
      <div class="grid grid-nogutter pt-4">
        <div *ngFor="let item of items" class="col-12">
          <div
            class="flex flex-column sm:flex-row align-items-center p-4 gap-4 surface-card"
            [class.selected]="algoModel.algosSeleccionados.includes(item)"
            (dblclick)="onselectedTable($event, item)"
            (contextmenu)="onContextMenu($event, item)"
          >
            <a (click)="algoModel.seleccionar(item, 'Editar')">
              @if (item['imagen']) {
              <div class="relative no-image-container">
                <span class="hover-text">Ver detalles</span>
                <img
                  class="block mx-auto"
                  [src]="item['imagen']"
                  [alt]="item['nombre'] || 'Imagen'"
                  loading="lazy"
                />
                <p-tag
                  [value]="item.tag"
                  [severity]="item.severity"
                  class="absolute"
                  [style.left.px]="4"
                  [style.top.px]="4"
                />
              </div>
              }@else {
              <div class="relative no-image-container">
                <span class="hover-text">Ver detalles</span>
                <div class="no-image">Sin Imagen</div>
                <p-tag
                  [value]="item.tag"
                  [severity]="item.severity"
                  class="absolute"
                  [style.left.px]="4"
                  [style.top.px]="4"
                />
              </div>
              }
            </a>

            <div
              class="flex flex-column md:flex-row justify-content-between align-items-start flex-1 gap-4 w-full"
            >
              <div class="detalles-producto align-left">
                <div *ngFor="let header of item.getHeaders()">
                  <ng-container *ngIf="item[header.class] !== undefined">
                    <span [ngClass]="header.class">
                      {{
                        header.formatter
                          ? header.formatter(item[header.class])
                          : item[header.class]
                      }}
                    </span>
                  </ng-container>
                </div>
              </div>

              <!-- Botones -->
              <div class="flex flex-wrap justify-content-center gap-2">
                @if(authService.hasAuthority(userAuthority.ADMIN)){
                <div
                  *ngFor="let menuItem of item.menuItems.slice(1)"
                  class="botones"
                >
                  <p-button
                    [icon]="menuItem.icon"
                    [label]="menuItem.label"
                    (click)="algoModel.seleccionar(item, menuItem.label)"
                    [outlined]="true"
                    aria-label="{{ menuItem.label }}"
                  ></p-button>
                </div>
                } @else {
                <div class="cart">
                  <i
                    class="pi pi-cart-plus"
                    (click)="callbacksProductoService.toggleCart([item])"
                    tabindex="-1"
                  ></i>
                </div>
                <div class="heart pr-8 pl-7">
                  <i
                    (click)="callbacksProductoService.toggleFavorito([item])"
                    [ngClass]="
                      item.favorito
                        ? 'pi pi-heart-fill corazon-icon'
                        : 'pi pi-heart corazon-icon'
                    "
                    tabindex="-1"
                  ></i>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Plantilla para cuadrícula -->

    <ng-template pTemplate="grid" let-items>
      <div
        class="grid justify-content-around gap-3 pt-4 align-content-center fondo-card"
      >
        <div
          class="col-12 sm:col-6 md:col-4 xl:col-3 p-3 surface-card item-container"
          *ngFor="let item of items"
          [class.selected]="algoModel.algosSeleccionados.includes(item)"
          (dblclick)="onselectedTable($event, item)"
          (contextmenu)="onContextMenu($event, item)"
        >
          <div
            class="card flex flex-column align-items-center justify-content-center h-full xl:w-0"
          >
            <!-- mal -->
            <a (click)="algoModel.seleccionar(item, 'Editar')">
              @if (item['imagen']) {
              <div class="relative no-image-container">
                <span class="hover-text">Ver detalles</span>
                <img
                  class="block mx-auto"
                  [src]="item['imagen']"
                  [alt]="item['nombre'] || 'Imagen'"
                  loading="lazy"
                />
                <p-tag
                  [value]="item.tag"
                  [severity]="item.severity"
                  class="absolute"
                  [style.left.px]="4"
                  [style.top.px]="4"
                />
              </div>
              }@else {
              <div class="relative no-image-container">
                <span class="hover-text">Ver detalles</span>
                <div class="no-image">Sin Imagen</div>
                <p-tag
                  [value]="item.tag"
                  [severity]="item.severity"
                  class="absolute"
                  [style.left.px]="4"
                  [style.top.px]="4"
                />
              </div>
              }
            </a>
            <div
              class="detalles-producto flex flex-column align-items-start mt-3"
            >
              <div *ngFor="let header of item.getHeaders()">
                <ng-container *ngIf="item[header.class] !== undefined">
                  <span [ngClass]="header.class">
                    {{
                      header.formatter
                        ? header.formatter(item[header.class])
                        : item[header.class]
                    }}
                  </span>
                </ng-container>
              </div>
            </div>

            @if (authService.hasAuthority(userAuthority.ADMIN)) {
            <div
              class="flex justify-content-center gap-2 mt-3 flex flex-wrap justify-content-around"
            >
              <p-button
                class="boton"
                *ngFor="let menuItem of item.menuItems.slice(1)"
                [icon]="menuItem.icon"
                [label]="menuItem.label"
                (click)="algoModel.seleccionar(item, menuItem.label)"
                [outlined]="true"
                aria-label="{{ menuItem.label }}"
              ></p-button>
            </div>

            } @else {

            <div
              class="icon-container mt-3 flex flex-row justify-content-around align-content-center gap-7"
            >
              <div class="heart">
                <i
                  [ngClass]="
                    item.favorito
                      ? 'pi pi-heart-fill text-danger'
                      : 'pi pi-heart'
                  "
                  (click)="callbacksProductoService.toggleFavorito([item])"
                  tabindex="0"
                ></i>
              </div>
              <div class="cart">
                <i
                  class="pi pi-cart-plus"
                  (click)="callbacksProductoService.toggleCart([item])"
                  tabindex="0"
                ></i>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  <p-contextMenu
    [model]="items"
    [baseZIndex]="1000"
    [appendTo]="'body'"
    #menu
  ></p-contextMenu>
</div>
